*{
    margin: 0;
    padding: 0;
}

body{
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows: 10% 20% 40% 20% 10%;
  grid-template-areas:
  "header"
  "section"
  "main"
  "article"
  "footer";
}

/*Header navigation*/
html, body{
    height: 100%;
  }
  
  header nav{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    grid-area: header;
  }
  
  a{
    text-decoration: none;
    color: black;
    margin: 0 0px;
    padding: 5px;
    grid-area: header;
  }
  
  nav img{
    width: 80px;
    height: 100%;
    margin-top: 20px;
    grid-area: header;
  }

/*Greencorner blikfangsbillede*/

  section{
    grid-area: section;
  }

  section img{
    width: 100%;
    height: 100%;
    grid-area: section;
  }

  /*indholdet omkring ugens tilbud*/
  main{
    background-color: teal;
    grid-area: main;
  }

  main h2{
    text-align: center;
    margin: 5px;
  }


  /*lidt tekst omkring Greencorner*/
  article{
    grid-area: article;
    margin: auto 0;
    background-color: darkgrey;
  }

  article h2{
    text-align: center;
  }

  article p{
    margin: 15px;
    font-size: 0.9rem;
  }

  /*FOOTEREN*/
  footer{
    background-color: yellowgreen;
    grid-area: footer;
  }



