*{
    margin: 0;
    padding: 0;
}

body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.03fr 0.3fr 0.7fr 0.3fr 0.2fr;
  grid-template-areas:
  "header"
  "section"
  "main"
  "article"
  "footer";
}

/*Header navigation*/

  header{
    grid-area: header;
    background-color: #F2F0CE;
  }
  
  header nav{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    grid-area: header;
  }
  
  a{
    text-decoration: none;
    color: black;
    margin: 0 0px;
    padding: 5px;
    grid-area: header;
  }
  
  nav img{
    width: 80px;
    height: 100%;
    margin-top: 20px;
    grid-area: header;
  }

/*Greencorner blikfangsbillede*/

  section{
    grid-area: section;
  }

  section img{
    width: 100%;
    height: 100%;
    grid-area: section;
  }

  /*indholdet omkring ugens tilbud*/
  main{
    background-color: #F2F0CE;
    grid-area: main;
  }

  main h2{
    text-align: center;
    margin: 5px;
  }


  .tilbudpic {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
 }
 .innerpic {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
 }
 .innerpic img {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
 }

 .overlaytext {
  position: absolute;
  bottom: 0; 
  background: rgba(255, 255, 255, 0.9);
  width: 41%;
  transition: .3s ease;
  opacity:0;
  color: black;
  font-size: 15px;
  padding: 15px;
  margin-left: 9px;
  text-align: center;
}

.innerpic:hover .overlaytext {
  opacity: 1;
}

  /*lidt tekst omkring Greencorner*/
  article{
    grid-area: article;
    
    background-color: #F2F0CE;
  }

  article h2{
    text-align: center;
    margin: 18px;
  }

  article p{
    margin: 25px;
    font-size: 1.1rem;
  }

  /*FOOTEREN*/
  footer{
    background-color:#301818;
    grid-area: footer;
  }



  @media screen and (max-width: 800px) {
    
    .innerpic {
       flex: 50%;
       max-width: 50%;
    }
 }


