*{
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 


/*Header navigation*/

header{
  grid-area: header;
  background-color: #F2F0CE;
}

header nav{
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
  grid-area: header;
}

nav button{
  background-color:#F2F0CE; 
  border-radius: 3px;

}

a{
  text-decoration: none;
  color: black;
  margin: 0 0px;
  padding: 5px;
  grid-area: header;
}


nav img{
  width: 80px;
  height: 100%;
  margin-top: 20px;
  grid-area: header;
}

body{
  background-color: #F2F0CE;
}

.grid-container-produkter{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr ;
  grid-template-areas:
  "header"
  "banner"
  "produkter"
  "footer";
}

/*Styling af banner START*/
header{
  grid-area: header;
}

section {
  grid-area: banner;
  background-color: blueviolet;

}

section h1{
  position: absolute;
  color: #ffffff;
  height: 100px;
  width: 100px;
  left: 50%;
  margin-left: -100px;
  margin-top: 30px;
  font-size: 50px;
  z-index: 1;
}

section img{
  width: 100%;
  height: auto;
  background-size: cover;
  grid-area: banner;
  filter:brightness(40%);
}


button{
  cursor: pointer;
}

/*Styling af produkter og varer START*/
main{
  background-color: purple;
  grid-area: produkter;
  margin: 50px;
}


.div-tomat{
  max-width: 300px;
  text-align: center;
  background-color:plum;
  padding-bottom: 30px;
}

.div-tomat img{
  width: 100%;
  transition: transform .2s;
}

.div-tomat img:hover{
  transform: scale(1.05);
}

.pris{
  color: grey;
  font-size: 22px;
}

.div-tomat button{
  border: none;
  padding: 12px;
  color: white;
  background-color: #03A63C;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.div-tomat button:hover {
  background-color: #ABD904;
}



/*Argurk START*/

.div-argurk{
  max-width: 300px;
  text-align: center;
  background-color: plum;
}

.div-argurk img{
  width: 100%;
  transition: transform .2s;
}

.div-argurk img:hover{
  transform: scale(1.05);
}


.div-argurk button{
  border: none;
  padding: 12px;
  color: white;
  background-color: #03A63C;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.div-argurk button:hover {
  background-color: #ABD904;
}






.div-kiwi button:hover {
  background-color: #ABD904;
}


.div-kiwi{
  max-width: 300px;
  text-align: center;
  background-color: plum;
}

.div-kiwi img{
  width: 100%;
  transition: transform .2s;
}

.div-kiwi img:hover{
  transform: scale(1.05);
}


.div-kiwi button{
  border: none;
  padding: 12px;
  color: white;
  background-color: #03A63C;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.div-banan button:hover {
  background-color: #ABD904;
}




.div-banan button:hover {
  background-color: #ABD904;
}


.div-banan{
  max-width: 300px;
  text-align: center;
  background-color: plum;
}

.div-banan img{
  width: 100%;
  transition: transform .2s;
}

.div-banan img:hover{
  transform: scale(1.05);
}


.div-banan button{
  border: none;
  padding: 12px;
  color: white;
  background-color: #03A63C;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.div-banan button:hover {
  background-color: #ABD904;
}
/*footer START*/
footer{
  background-color: pink;
  grid-area: footer;
}

@media screen and (min-width:1024px){

p{
  color: #03A63C;
}

main{
  grid-area: produkter;
  display: flex;
  justify-content: space-between;
}

section h1{
padding-top: 120px;
}

section img{
height: 100%
}

.grid-container-produkter{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 30% 1fr 0.1fr ;
  grid-template-areas:
  "header"
  "banner"
  "produkter"
  "footer";
}
}
