*{
    margin: 0;
    padding: 0;
}

.grid-container-produkter{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.2fr 1fr 0.1fr ;
  grid-template-areas:
  "header"
  "banner"
  "produkter"
  "footer";
}

/*Styling af banner START*/
header{
  grid-area: header;
  background-color: red;
}

section {
  grid-area: banner;
  background-color: blueviolet;
}

section h1{
  position: absolute;
  color: #ffffff;
  height: 100px;
  width: 100px;
  left: 50%;
  margin-left: -100px;
  margin-top: 30px;
  font-size: 50px;
  z-index: 1;
}

section img{
  width: 100%;
  height: auto;
  background-size: cover;
  grid-area: banner;
  filter:brightness(40%);
}

button{
  cursor: pointer;
}
/*Styling af produkter og varer START*/
main{
  background-color: purple;
  grid-area: produkter;
}

.div-tomat{
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: cornsilk;
}

.div-tomat img{
  width: 100%;
  transition: transform .2s;
}

.div-tomat img:hover{
  transform: scale(1.05);
}

.pris{
  color: grey;
  font-size: 22px;
}

.div-tomat button{
  border: none;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.div-tomat button:hover {
  opacity: 0.7;
}

/*Argurk START*/

.div-argurk{
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: cornsilk;
}

.div-argurk img{
  width: 100%;
  transition: transform .2s;
}

.div-argurk img:hover{
  transform: scale(1.05);
}


.div-argurk button{
  border: none;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.div-argurk button:hover {
  opacity: 0.7;
}
/*footer START*/
footer{
  background-color: pink;
  grid-area: footer;
}


